{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
        <span class="banner">
        <a class="banner" href="http://www.sagemath.org"><img align="top" src="/images/sagelogo.png" alt="SPD"> Source Python Distribution</a>: Welcome!
        </span>
        
<br><br>
<table>
<tr><td width=50%>
{% if welcome %}
<h2>Congratulations {{ welcome }}! You can now sign into the SPD Notebook.</h2>
{% endif %}

<span class="addtext">
<b>SPD</b> is a Source Python Distribution.<br><br>

<b>The SPD Notebook</b><br>
With the SPD Notebook anyone can create, collaborate on, and publish
interactive worksheets. In a worksheet, one can write code using Python, and
other software included in SPD.
<br><br>

<b>The SPD Project</b><br>
<a href="http://code.google.com/p/spdproject/">Source Python Distribution (SPD)</a> is a Python distribution and many optional (mainly scientific)
packages. Everything fully builds from source on any platform (any Linux, Mac
OS X, clusters and soon windows). It is based on <a href="http://sagemath.org/">Sage</a>.
</span>
</td>
<td bgcolor="#efefff" align=center>
<span class="addtext">Sign into the SPD Notebook<br><br>
<form method="POST" action="/login">
<table>
<tr><td align=right>Username:</td><td><input type="text" name="email" value="{{ default_user }}" size="15"></td></tr>
{% if username_error %}
<tr><td align=right><span style="color:red">Error:</span></td><td>Username is not in the system</td></tr>
{% endif %}
<tr><td align=right>Password:</td><td><input type="password" name="password" size="15"></td></tr>
{% if password_error %}
<tr><td align=right><span style="color:red">Error:</span></td><td>Wrong password</td></tr>
{% endif %}
<tr><td align=right><input type="checkbox" name="remember" /></td><td>Remember me</td></tr>
<tr><td>&nbsp</td><td><input type="submit" value="Sign In"></td></tr>
</table>
<br><br><br>
{% if accounts %}
<a href='/register'><b>Sign up for a new SPD Notebook account</b></a>
{% endif %}
<br><br><br>
<a href='/pub'><b>Browse published SPD worksheets<br>(no login required)</b></a><br /><br/><br/>
{% if recovery %}
<a href='/forgotpass'><b>Forgot password</b></a>
{% endif %}
</span>
</td>
</tr>
</table>
{% endblock %}
